<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Email Verification | Authentify</title>

    <link rel="stylesheet" href="/static/style.css">
</head>

<body>
    <nav class="navbar">

        <div class="logo">
            <a href="/" class="unstyled-link">Auth<span>entify</span></a>
        </div>

    </nav>

    <div class="page-container">

        <div class="card">

            <h2>Email Verification</h2>

            <p id="status">
                Verifying your email...
            </p>

        </div>

    </div>

    <script src="/static/app.js"></script>

    <script>
        verifyEmail();
    </script>

</body>

</html>